<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<div style="margin-top: 100px;width: 70%;" class="container">
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <small>
        <span>
            <h6 style="text-decoration-line: underline; text-decoration-color: black;">
                Source: <%= article.source %>
            </h6>
        </span>
    </small>
</div>


<%- include("../partials/footer.ejs") %>