<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>


<div style="text-align: center;" id="questions-box">
    <div style="margin: 100px auto;" class="container">
        <div class="row">
            <div class="col-md-6 col-sm-0 header head">
                <h1>Top <%= tech %> questions</h1>
            </div>
        </div>
        <div class="add-question-button"><button style="border-radius: 5px;background-color: #FA5;"
                onclick="location.href='/questions/ <%=tech %>/new'" type="submit">Add more
                <%= tech %>
                Questions</button></div>


        <div style="border:1px solid; border-radius: 5px;" class="row question-box-inner">

            <div class="col-md-12 question-chip-container">

                <ol class="question-chip-list">
                    <% qts.forEach(q =>{ %>
                    <li>
                        <!-- question delete and edit button -->
                        <button type="button" class="collapsible"> <span><%=q.question%> <small
                                    class="question-edit-button"><a
                                        href="/questions/<%=q.tech%>/<%=q.id%>/edit">Edit</a></small><small
                                    class="question-delete-button">
                                    <form action="/questions/<%=q.tech%>/<%=q._id%>?_method=DELETE" , method="POST">
                                        <input style="background-color: #FA5;border-radius: 5px;" value="Delete"
                                            type="submit">
                                    </form>
                                </small></span></button>


                        <div class="content">
                            <p>Answer: <%=q.answer%></p>
                            <a class="source" href=<%=q.source %>>Source: <%=q.source %></a>
                        </div>
                    </li>
                    <%})%>
                </ol>

                <script> //referenced from https://www.w3schools.com/howto/howto_js_collapsible.asp
                    var coll = document.getElementsByClassName("collapsible");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                        coll[i].addEventListener("click", function () {
                            this.classList.toggle("active");
                            var content = this.nextElementSibling;
                            if (content.style.display === "block") {
                                content.style.display = "none";
                            } else {
                                content.style.display = "block";
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer.ejs") %>