<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>


<form style="margin: 150px 0 10px 5px; font-weight: 100;" action="/questions/<%= tech %>" method="POST">
    <h1>Add New <%= tech %> Question</h1>
    <div class="form-group">
        <input autocomplete="off" required:true type="text" class="form-control" name="question"
            placeholder="Your question..">
    </div>
    <div class="form-group">
        <input autocomplete="off" required:true type="text" class="form-control" name="answer"
            placeholder="Your answer">
    </div>
    <div class="form-group">
        <input autocomplete="off" required:true type="text" class="form-control" name="tech"
            placeholder="technology name" value=<%= tech %>>
    </div>
    <div class="form-group">
        <select class="form-control" name="level" id="new-question-level">
            <option value="entry">entry</option>
            <option value="mid">mid</option>
            <option value="senior">senior</option>
        </select>
    </div>
    <div class="form-group">
        <input autocomplete="off" required:true type="text" class="form-control" name="source"
            placeholder="answer source">
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>
</form>




<%- include("../partials/footer.ejs") %>